:root{
    --color-azul: rgb(58, 137, 247);
    --color-gris: rgb(86, 86, 86);
}

*{
    margin: 0;
    font-family: Calibri;

}
h1, h2{
    font-family: Verdana;
}

body{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding-bottom: 20px;

}
#tituloPagina{
    margin-top: 10px;
    text-align: center;
    font-size: 4em;

}
#tituloConfirmacion{
    margin-top: 10px;
    text-align: center;
    font-size: 3em;
    color: rgb(81, 81, 81);
}
#imgGrupo{
    border-radius: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.163);

}

section{
    max-width: 800px;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.163);
    background-color: white;
    border-radius: 10px;
    width: 90vw;
    margin: auto;
    padding: 2em 1em;
    hr{
        border: none;
        height: 2px;
        background-color: var(--color-azul);
        margin-bottom: 1em;
    }
   .tituloSection{
    font-size: 1.2em;
    color: rgb(75, 75, 75);
    font-weight: 700;
    margin-bottom: 5px;
   }

}

fieldset{
    border: 2px solid var(--color-azul);
    border-radius: 10px;

    legend{
        color: var(--color-azul);
        font-weight: 700;
    }

    display: flex;
    overflow: visible;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1em;
    label{
        font-size: 0.8em;
        color: var(--color-gris);
    }
    

}
.detalles{
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 2px solid rgba(123, 123, 123, 0.664);
    color:  var(--color-gris);
    
}
.inputlargo{
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 2px solid rgba(123, 123, 123, 0.664);
    color:  var(--color-gris);
    width: 99%;
}
#pago{
    padding: 1em 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
 
}
.checkbox{
    width: 12px;
    height: 12px;
    appearance: none;
    border: 1px solid var(--color-gris);
    border-radius: 100%;
    cursor: pointer;
}
    
table{
    justify-content: center;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: var(--color-azul);
    color: white;
    text-align: center;
    
}
td{
    padding:.5em 0;
    border: 2px solid rgb(202, 202, 202);
    border-collapse: collapse;
}
.btn{
    width: 50px;
    border:1px solid var(--color-gris);
    border-radius: 5px;
    text-align: center;
    margin: auto;
}
#lineaFinal{
   display: inline-flex;
   gap: 2em;
   
}
.btn:hover{
    border-color: var(--color-azul);
    background-color:var(--color-azul);
    color: white;
}
.linea{
    display: flex;
    gap: 5px;
}
#acepto{
    margin-left: 9em;
}